{
    "swagger": "2.0",
    "info": {
      "version": "2019-09-01-preview",
      "title": "Managed Application Service Now Integration",
      "description": "Managed Application Service Now Integration."
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "Impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customProviderName}/tickets/{ticketName}": {
        "put": {
          "tags": [
            "tickets"
          ],
          "operationId": "Create_Ticket",
          "description": "Creates an Azure Subscription CMDB ticket.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "customProviderName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The custom provider name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "ticketName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The ticket name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ServiceNowTickets"
              },
              "description": "The parameters to create a Azure Subscription CMDB ticket."
            }
          ],
          "responses": {
            "200": {
              "description": "An Azure Subscription CMDB ticket.",
              "schema": {
                "$ref": "#/definitions/ServiceNowTickets"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "delete": {
            "tags": [
                "tickets"
              ],
              "operationId": "Delete_Ticket",
              "description": "Deletes an Azure Subscription CMDB ticket.",
              "parameters": [
                {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                  "name": "resourceGroupName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the resource group. The name is case insensitive.",
                  "pattern": "^[-\\w\\._\\(\\)]+$",
                  "minLength": 1,
                  "maxLength": 90
                },
                {
                  "name": "customProviderName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The custom provider name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "name": "ticketName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ticket name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                }
          ],
          "responses": {
            "200": {
              "description": "Successful delete response."
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "get": {
            "tags": [
                "tickets"
              ],
              "operationId": "Get_Ticket",
              "description": "Gets an Azure Subscription CMDB ticket.",
              "parameters": [
                {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                  "name": "resourceGroupName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the resource group. The name is case insensitive.",
                  "pattern": "^[-\\w\\._\\(\\)]+$",
                  "minLength": 1,
                  "maxLength": 90
                },
                {
                  "name": "customProviderName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The custom provider name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "name": "ticketName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ticket name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                }
          ],
          "responses": {
            "200": {
              "description": "The service now tickets.",
              "schema": {
                "$ref": "#/definitions/ServiceNowTickets"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customProviderName}/tickets": {
        "get": {
          "tags": [
            "tickets"
          ],
          "operationId": "Tickets_ListByCustomProviders",
          "description": "Lists the Azure Subscription CMDB tickets.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "customProviderName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ServiceNowTicketsList"
                }
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customProviderName}/associations/{associationName}": {
        "put": {
          "tags": [
            "associations"
          ],
          "operationId": "Create_Associations",
          "description": "Creates an Service Now storage account association.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "customProviderName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The custom provider name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "name": "associationName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The association name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ServiceNowAssociations"
              },
              "description": "The parameters to create a Service Now storage account association."
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "$ref": "#/definitions/ServiceNowAssociations"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "delete": {
            "tags": [
                "associations"
              ],
              "operationId": "Delete_Association",
              "description": "Deletes an Service Now storage account association.",
              "parameters": [
                {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                  "name": "resourceGroupName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the resource group. The name is case insensitive.",
                  "pattern": "^[-\\w\\._\\(\\)]+$",
                  "minLength": 1,
                  "maxLength": 90
                },
                {
                  "name": "customProviderName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The custom provider name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "name": "associationName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The association name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                }
          ],
          "responses": {
            "200": {
              "description": "Successful delete response."
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        },
        "get": {
            "tags": [
                "associations"
              ],
              "operationId": "Get_Association",
              "description": "Gets an Service Now storage account association.",
              "parameters": [
                {
                  "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                  "name": "resourceGroupName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the resource group. The name is case insensitive.",
                  "pattern": "^[-\\w\\._\\(\\)]+$",
                  "minLength": 1,
                  "maxLength": 90
                },
                {
                  "name": "customProviderName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The custom provider name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "name": "associationName",
                  "in": "path",
                  "required": true,
                  "type": "string",
                  "description": "The association name.",
                  "minLength": 3,
                  "maxLength": 64
                },
                {
                  "$ref": "#/parameters/ApiVersionParameter"
                }
          ],
          "responses": {
            "200": {
              "description": "The Service Now storage account association.",
              "schema": {
                "$ref": "#/definitions/ServiceNowAssociations"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/{customProviderName}/associations": {
        "get": {
          "tags": [
            "associations"
          ],
          "operationId": "Association_ListByCustomProviders",
          "description": "Lists the Service Now associated storage accounts.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "resourceGroupName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The name of the resource group. The name is case insensitive.",
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "minLength": 1,
              "maxLength": 90
            },
            {
              "name": "customProviderName",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The test name.",
              "minLength": 3,
              "maxLength": 64
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "schema": {
                "$ref": "#/definitions/ServiceNowAssociationsList"
              }
            }
          },
          "produces": [
            "application/json"
          ],
          "consumes": [
            "application/json"
          ]
        }
      }
    },
    "definitions": {
      "ServiceNowAssociations": {
        "properties": {
          "properties": {
            "type": "object",
            "properties": {
              "ticketType": {
                "type": "string",
                "description": "The ticket type."
              },
              "resourceType": {
                "type": "string",
                "description": "The resource type."
              },
              "resourceName": {
                "type": "string",
                "description": "The resource name."
              },
              "resourceLocation": {
                "type": "string",
                "description": "The resource location."
              },
              "serviceNowSystemId": {
                "type": "string",
                "description": "Service Now System Id."
              }
            },
            "description": "This is a test of a subobject on a definition."
          },
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Id"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          }
        },
        "description": "My Azure Subscription CMDB ticket.",
        "x-ms-azure-resource": true
      },
      "ServiceNowAssociationsList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ServiceNowAssociations"
            },
            "description": "The array of Azure Subscription CMDB tickets."
          }
        }
      },
      "ServiceNowTickets": {
        "properties": {
          "properties": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "The description."
              },
              "displayName": {
                "type": "string",
                "description": "The displayName."
              },
              "createdBy": {
                "type": "string",
                "description": "The user who created the ticket.",
                "readOnly": true
              },
              "updatedBy": {
                "type": "string",
                "description": "The user who updated the ticket.",
                "readOnly": true
              },
              "category": {
                "type": "string",
                "description": "The ticket category."
              }
            },
            "description": "This is a test of a subobject on a definition."
          },
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Id"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          }
        },
        "description": "My Azure Subscription CMDB ticket.",
        "x-ms-azure-resource": true
      },
      "ServiceNowTicketsList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ServiceNowTickets"
            },
            "description": "The array of Azure Subscription CMDB tickets."
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client Api Version."
      }
    }
  }